*.class

.mtj.tmp/

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
*.hprof

bin
eclipse
*.launch
.settings
.metadata
.classpath
.project

out
classes
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
.nb-gradle-properties

build
.gradle

gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.DS_Store
*.txt
run/*

*.log
*.ctxt
/fabric/run/
/neoforge/run/
